# integers

In [1]:
print(123123123123123123123123123123 + 1)

123123123123123123123123123124

# floating-point number

In [4]:
print(4.2)

print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

# string

In [5]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

# boolean type, boolean contex and "truthiness"

In [6]:
print(type(False))
print(type(True))

<class 'bool'>
<class 'bool'>

# variable assignment

In [12]:
a=b=c=d=e=f=190
print(a,b,c,d,e,f)

190 190 190 190 190 190

#  variable type in python

In [2]:
x=12.1
print(x)
print(type(x))

12.1
<class 'float'>

# variable names

In [4]:
name = "syahrani"
Age = 19
print(name, Age)

syahrani 19

In [8]:
#penggunaan (_) bisa dilakukan diawal
_="blank"
print(_)

blank

In [10]:
#penggunaan angka tidak bisa dilakukan diawal
9_angka="nine"

SyntaxError: invalid decimal literal (507667363.py, line 2)

# basic aritmetic operation

In [17]:
a=210
b=70

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)

280
140
14700
3.0
3

# operator penugasan

In [19]:
a = 100 
b = 75
a += b # a = b+a
print(a)

175

In [23]:
a = 100 
b = 75
a -= b # a = b-a
print(a)

25

In [24]:
c = 50 
c *= 2 
print(c)

100

In [25]:
c = 50 
c /= 2 
print(c)

25.0

In [26]:
c = 50 
c **= 2 
print(c)

2500

In [29]:
c = 75
c %= 2 
print(c)

1

# comparison oprator

In [32]:
a = 10
b = 30
print(a == b)
print(a <= b)
print(a >= b)

False
True
False

# operator logika

In [33]:
a = False
b = True

# Logika AND
c = a and b
print(c)
print(a,b,c)

a = False 
c = a and b 
print(c)

a = True 
# Logika OR
c = a or b
print (a,b,c)

# Logika Not
c = not a
print(a,c)

False
False True False
False
True True True
True False

# operator ternary

In [38]:
bel = input("jam berapa bel?")
print(type(bel))
selesai = "sekolah" if int(bel) < 2 else "pulang"
print (selesai)

<class 'str'>
pulang

# string Manipulation

In [1]:
# + Operators
a = 'drink'
b = 'drank'
c='drunk'
d='drinking'

print(a+b+d)
print(b+d+a)

drinkdrankdrinking
drankdrinkingdrink

In [4]:
# in Operators
a = 'drink'

print(a in 'drinking some water')

print(a in 'drank some water')

True
False

# python list

In [5]:
a = ['drink', 'drank','drunk']

print(a)
print(type(a))

['drink', 'drank', 'drunk']
<class 'list'>

# list are ordered

In [8]:
a = 'drink'
b = 'drank'
c='drunk'
d='drank'

print(a==b)
print(a==d)
print(c==b)
print(b==d)

False
False
False
True

# list can contain any arbitary object

In [10]:
a = ['drink','3.14' ,'7.90','drank','6.98','drunk']
print(a)

['drink', '3.14', '7.90', 'drank', '6.98', 'drunk']

# list element can be accessed by index

In [13]:
a = ['drink','3.14' ,'7.90','drank','6.98','drunk']

print(a[5])
print(a[-3])

drunk
drank

# slicing

In [14]:
a = ['drink','3.14' ,'7.90','drank','6.98','drunk']

a[2:5]

['7.90', 'drank', '6.98']

In [15]:
a[:3]

['drink', '3.14', '7.90']

In [16]:
a[1:]

['3.14', '7.90', 'drank', '6.98', 'drunk']

In [18]:
print(a)

['drink', '3.14', '7.90', 'drank', '6.98', 'drunk']

In [19]:
print(a+['eat','5.50','food'])

['drink', '3.14', '7.90', 'drank', '6.98', 'drunk', 'eat', '5.50', 'food']

In [20]:
print(a*2)

['drink', '3.14', '7.90', 'drank', '6.98', 'drunk', 'drink', '3.14', '7.90', 'drank', '6.98', 'drunk']

In [21]:
a+=['eat','5.50','food']

print(a)

['drink', '3.14', '7.90', 'drank', '6.98', 'drunk', 'eat', '5.50', 'food']

In [22]:
a*=2

print(a)

['drink', '3.14', '7.90', 'drank', '6.98', 'drunk', 'eat', '5.50', 'food', 'drink', '3.14', '7.90', 'drank', '6.98', 'drunk', 'eat', '5.50', 'food']

# modifyng a single list value

In [23]:
a = ['drink','3.14' ,'7.90','drank','6.98','drunk']

print(a)

['drink', '3.14', '7.90', 'drank', '6.98', 'drunk']

In [25]:
a[3]=10.0
print(a)

['drink', '3.14', '7.90', 10.0, '6.98', 'drunk']

In [27]:
a[-2]='healty'
print(a)

['drink', '3.14', '7.90', 10.0, 'healty', 'drunk']

# modifyng multiple list value

In [28]:
a = ['drink','3.14' ,'7.90','drank','6.98','drunk']

print(a[1:3])

['3.14', '7.90']

In [30]:
a[1:3]=['juice','food']

print(a)

['drink', 'juice', 'food', 'drank', '6.98', 'drunk']

# list

In [32]:
a = ['drink','3.14' ,'7.90','drank','6.98','drunk']

print('eat' in a)
print('drink' in a)

False
True

In [33]:
#mencari index
a.index('7.90')

2

In [35]:
#menambah index
a.append('drinking')

print(a)

['drink', '3.14', '7.90', 'drank', '6.98', 'drunk', 'drinking', 'drinking']

In [37]:
#menghapus menggunakan index
del a[5]

print(a)

['drink', '3.14', '7.90', 'drank', '6.98', 'drinking']

In [38]:
#menghapus menggunakan value
a.remove('3.14')

print(a)

['drink', '7.90', 'drank', '6.98', 'drinking']

In [39]:
#sorting list
a.sort()

print(a)

['6.98', '7.90', 'drank', 'drink', 'drinking']

In [40]:
#menyalin list
lista=['a','b','c']
listb=lista
print(listb)

['a', 'b', 'c']

# python tuples

### pengindeksian tuples

In [1]:
a = ('drink','3.14' ,'7.90','drank','6.98','drunk')

print(a)

('drink', '3.14', '7.90', 'drank', '6.98', 'drunk')

In [2]:
print(a[-3])

drank

In [3]:
#packing and unpacking
(a),(b),(c)=(1),(2),(3)

print(c)

3

# python dictionary

In [4]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [7]:
print(MLB_team)
print(MLB_team["Boston"])
print(MLB_team["Seattle"])

print(MLB_team["Milwaukee "])

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}
Red Sox
Mariners

KeyError: 'Milwaukee '

In [8]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [9]:
# If you want to update an entry, you can just assign a new value to an existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

In [10]:
MLB_team['Kansas City']

'Royals'

In [11]:
# To delete an entry, use the del statement, specifying the key to delete:

del(MLB_team['Seattle'])

In [12]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [13]:
del(MLB_team["Boston"])
MLB_team

{'Colorado': 'Rockies',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

# building  a dictionary incrementally

In [14]:
introduction = {} 
type(introduction)

dict

In [15]:
introduction['name'] = "Syahrani Nabilla pardede"
introduction['age']=19
introduction['hobby']="reading"

In [16]:
print(introduction)

{'name': 'Syahrani Nabilla pardede', 'age': 19, 'hobby': 'reading'}

In [17]:
import pprint 
pprint.pprint(introduction)

{'age': 19, 'hobby': 'reading', 'name': 'Syahrani Nabilla pardede'}

In [19]:
introduction["status_mahasiswa"] = True

In [20]:
import json
print(json.dumps(introduction, sort_keys=False, indent=4))

{
    "name": "Syahrani Nabilla pardede",
    "age": 19,
    "hobby": "reading",
    "status_mahasiswa": true
}

In [21]:
print(introduction['name'])

Syahrani Nabilla pardede

In [22]:
print(introduction['hobby'])

reading

# line continuation

In [23]:
person1_age = 42
person2_age = 16
person3_age = 71


someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)

someone_is_of_working_age

True

In [24]:
someone_is_of_working_age = ( (person1_age >= 18 and person1_age <= 65) or 
                             (person2_age >= 18 and person2_age <= 65) or 
                             (person3_age >= 18 and person3_age <= 65)
                            )
someone_is_of_working_age

True

# casting

In [26]:
text = "rajin pangkal pandai"

print(list(text))
print(tuple(text))
print(set(text))

['r', 'a', 'j', 'i', 'n', ' ', 'p', 'a', 'n', 'g', 'k', 'a', 'l', ' ', 'p', 'a', 'n', 'd', 'a', 'i']
('r', 'a', 'j', 'i', 'n', ' ', 'p', 'a', 'n', 'g', 'k', 'a', 'l', ' ', 'p', 'a', 'n', 'd', 'a', 'i')
{'p', 'r', ' ', 'd', 'i', 'k', 'n', 'l', 'a', 'g', 'j'}