<a href="https://colab.research.google.com/github/sarah0211-02/H8_Pertemuan/blob/master/H8_Pertemuan2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Condition Looping

Nama        : Syahrani Nabilla Pardede
Kode Peserta: PYTN-KS08-013

##Introduction To If Statement

In [1]:
if 'ba' in ['foo', 'bar', 'baz']:  # 
    print('yes')

    print("DONE")  
print("selesai")

selesai

##Grouping Statements: Indentation and Blocks

In [3]:
a = 3
b = 2 

if a > b: 
    print("Good")
    
    print("Better")

print("Best")

Good
Better
Best

In [5]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('......')
    print('Done.')
print('After conditional')

After conditional

In [4]:
# Does line Execute?                    Yes     No
#                                       ---    ----
if 'foo' in ['foo', 'bar', 'baz']:    #  X
    print('Outer Condition is true')  #  X
    
    if 10 > 20:                       #  X
        print('Inner Condition 1')    #         X
    
    print('Between Inner Condition')  #  X
    
    if 10 < 20:                       #  X
        print('Inner Condition 2')    #  X
        
    print('End of Outer Condition')   #  X
print('After Outer Condition')        #  X

Outer Condition is true
Between Inner Condition
Inner Condition 2
End of Outer Condition
After Outer Condition

##The else and elif clauses

In [6]:
# x kurang dari 50

x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is Large')

(first suite)
x is small

In [7]:
# x lebih besar dari 50

x = 120

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is Large')

(second suite)
x is Large

In [8]:
# Another Example

hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("Beli Buku")
else:
    print("Uang Tidak Cukup")

Uang Tidak Cukup

In [9]:
# Example 

name = "Hacktiv8"

if name == "Fred":
    print('Hello Fred')
elif name == "Xander":
    print("Hello Xander")
elif name == "Hacktiv8":
    print("Hello Hactiv8")
elif name == "Arnold":
    print("Hello Arnold")
else:
    print("I don't know who you are!")

Hello Hactiv8

##One-Line If Statement

In [10]:
if "f" in "foo": print("1"); print("2"); print("3")

1
2
3

In [11]:
if "z" in "foo": print("1"); print("2"); print("3")

In [12]:
x = 2

if x == 1: print("foo"); print("bar"); print("baz")
elif x == 2: print("qux"); print("quux")
else: print("corge"); print("grault")

qux
quux

In [13]:
x = 3

if x == 1: print("foo"); print("bar"); print("baz")
elif x == 2: print("qux"); print("quux")
else: print("corge"); print("grault")

corge
grault

In [14]:
x = 3

if x == 1:
    print("foo")
    print("bar")
    print("baz")
elif x == 2:
    print("qux")
    print("quux")
else:
    print("corge")
    print("grault")

corge
grault

##Conditional Expressions (Python's Ternary Operator)

In [15]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [16]:
age = 12

s = "teen" if age < 21 else "adult"
s

'teen'

In [17]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

##The Python Pass Statment

In [20]:
x = 10 
y = 11 
if  x<y:
    #Todo buat stament apa yang terjadi jika benar 
    pass  
print('foo')

foo

In [21]:
if True:
    #Todo nanti akan ditambahkan 
    pass
print('foo')

foo

In [22]:
if True:
    pass
print("foo")

foo

##Python "While" Loops

In [23]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [24]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [25]:
# Example Code 1

n = 5
while n > 0:
    n -= 1
    if n == 2:
        break # Break Statement
    print(n)
print("Loop Ended.")

4
3
Loop Ended.

In [26]:
# Example Code 2

n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue # continue Statement
    print(n)
print("Loop Ended.")

4
3
1
0
Loop Ended.

###The Else Clauses

In [27]:
n = 5

while n > 0:
    n -= 1
    print(n)
else:
    print("Loop Done")

4
3
2
1
0
Loop Done

In [28]:
n = 5

while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print("Loop Done")

4
3
2

###Nested While Loops

In [29]:
a = ["foo", "bar"]

while len(a):
    print(a.pop(0))
    
    b = ["baz", "qux"]
    
    while len(b):
        print(">", b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

###One-Line while Loops

In [30]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

##The Python For Loops

In [33]:
a = ["foo", "bar", "baz"]
for i in a:
    print(i)

foo
bar
baz

In [34]:
d = {"foo": 1, "bar":2, "baz":3}
for k in d:
    print(k)

foo
bar
baz

In [35]:
for k in d:
    print(d[k])

1
2
3

In [37]:
for k, v in d.items():
    print(k, ":", v)

foo : 1
bar : 2
baz : 3

##Iterating Through a Dictionary

In [38]:
d = {"foo": 1, "bar": 2, "baz": 3}
for k in d:
    print(k)

foo
bar
baz

In [39]:
# Untuk mengakses nilai dictionary dalam loop, dapat membuat referensi dictionary. Seperti contoh berikut

for k in d:
    print(d[k])

1
2
3

In [40]:
for v in d.values():
    print(v)

1
2
3

##The Range () Function

In [41]:
for n in (0, 1, 3, 4):
    print(n)

0
1
3
4

##Altering for Loop Behavior

In [42]:
### The Break and Continue Statements

for i in ["foo", "bar", "baz", "qux"]:
    if "b" in i:
        break
    print(i)

foo

In [43]:
for i in ["foo", "bar", "baz", "qux"]:
    if "b" in i:
        continue
    print(i)

foo
qux

##The else Clause

In [44]:
for i in ["foo", "bar", "baz", "qux"]:
    print(i)
else:
    print("Done.") # Will Execute

foo
bar
baz
qux
Done.

In [45]:
# Klausa else tidak akan dijalankan jika list terhenti dengan pernyataan break:

for i in ["foo", "bar", "baz", "qux"]:
    if i == "bar":
        break
    print(i)
else:
    print("Done.") # Will Not Execute

foo

In [47]:
# Another Example
temp = input("Ketikkan temperatur yang ingin dikonversi, eg.45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

print (i_convertion)
result = 0

if i_convertion == "C":
    result1 = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result1 = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan Input yang Benar")
    
print("Temperaturnya adalah", result1, "derajat")

Ketikkan temperatur yang ingin dikonversi, eg.45F, 120C: 67F
F
Temperaturnya adalah 19 derajat

In [48]:
while True:
    msg = input("Ketikan Karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikan Karakter: Hai
hai
Ketikan Karakter: Hallo
hallo
Ketikan Karakter: stop
stop